<div class="d-flex justify-content-between navBackground">
    <!--        Logo        -->
    <ul class="nav">
        <li><img src="" alt="Logo - Chirripo"></li>
    </ul>

    <!--        NavBar      -->
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active linkColor" routerLink="/home">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link linkColor" routerLink="/**">Stratégie Edition</a>
        </li>
        <li class="nav-item">
            <a class="nav-link linkColor" routerLink="/**">Marketing Opérationnel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link linkColor" routerLink="/**">Photo & Vidéo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link linkColor"routerLink="/**">Production</a>
        </li>
        <li class="nav-item">
            <a class="nav-link linkColor" routerLink="/**">Création Graphique ( PAO )</a>
        </li>
        <li class="nav-item">
            <a class="nav-link linkColor" routerLink="/**">Digital</a>
        </li>
        <li class="nav-item">
            <a class="nav-link linkColor" routerLink="/connexion">Compte</a>
        </li>
    </ul>
</div>