<div class="d-flex justify-content-between navBackground">
    <!--        Logo        -->
    <ul class="nav">
        <li><img src="" alt="Logo - Chirripo"></li>
    </ul>

    <!--        NavBar      -->
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active linkColor" routerLink="/home">Accueil</a>
        </li>
        <li class="nav-item" *ngFor="let nav of headings">
            <a class="nav-link linkColor" routerLink="/home/{{nav.title}}">{{nav.title}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link linkColor" routerLink="/connexion">Compte</a>
        </li>
    </ul>
</div>