
<div class="backgroundContainer">
    <div class="containerSize">
        <app-main-nav></app-main-nav>
        <h1 style="text-align: center;">Trello</h1>
        <p>Cette application sert à organiser les tâches à effectuer au sein d'un(e) projet/mission. Cette élément est surtout efficase quand il y a de nombreuse charge de travail qui arrive d'un coup. Pour le moment il s'agit la d'une version expérimental afin de voir si cette application rajoute réelement une valeur ajouter à notre productivité.
            Je reste à disposition pour tout type de feedback concernant ce Trello.
        </p>
    </div>
</div>
