.linkColor{
    color: white;
    background-color: black;
}

.strat{
    background-color: #f8c301;
}

.marketing{
    background-color: #5ab8ce;
}

.photo{
    background-color: #b97e54;
}

.production{
    background-color: #b4251d;
}

.creation{
    background-color: #60b24c;
}

.digital{
    background-color: #eca4f6;
}