<div class="container">
    <div class="border rounded p-3 mb-3 mt-3" *ngFor="let heading of headings">
        <section class="row">
            <section class="align-self-center col-md-9">
                <a class="visualLink" routerLink="post/{{heading.id}}">
                    <h3 class="headingTitle ">{{heading.title}}</h3>
                </a>
            </section>
            <section class="col-md-3 text-right">
                <a class="visualLink" routerLink="edit/{{heading.id}}"><button class="btn btn-success mr-4"><i
                            class="fa fa-pencil fa-2x"></i></button></a>
                <a class="btn btn-danger" (click)="deleteHeading(heading)"><i class="fa fa-trash fa-2x"></i></a>
            </section>
        </section>
    </div>
</div>