<div class="container">
    <h2 align="center">Chirripo - Pôles</h2>
    <hr width=350 style="margin-inline: auto;">
    <div class="border rounded p-3 mb-5 mt-5" *ngFor="let heading of headings">
        <section class="row">
            <section class="align-self-center col-md-9">
                <h3 class="headingTitle ">{{heading.title}}</h3>
            </section>
            <section class="d-flex justify-content-around col-md-3 text-right">
                <div>
                    <a class="btn btn-success mr-4 visualLink" (click)="openEditModal(heading)">
                        <img src="assets/stylo-plongeur.png" alt="stylo">
                    </a>
                </div>
                <div>
                    <a class="btn btn-danger" (click)="deleteHeading(heading)">
                        <img src="assets/poubelle-de-recyclage.png" alt="poubelle">
                    </a>
                </div>
            </section>
        </section>
    </div>
</div>